body{
    text-align: center;
    background-color:#000000;
    color: white;
}

button{
    background-color: #db0000;
    color: white;
    border: none;
    padding: 5px 12px 5px 12px;
    border-radius: 3%;
    margin-top: 10px;
}

.movie-container{

    border-style: solid;
    border-color: #454242;
    border-radius: 5px;
    padding: 10px;
    border-width: 1px;
    width: 250px;
    margin: 3%;
}

.movies-section{
    display: flex;
justify-content: center;
  
}